1 speak in italian
2 analyze every single code line don't stop analyzing even if you think you have already finished
check always for existing files and folders before creating new ones4
comment in english the code
when editing do not change the already existing css and design without asking permission first
before editing or creating new files and folders first explain and suggest me what you want to do and ask permission for proceeding
do not make other changes or editing out of your scope without asking permission first
check always for errors and make sure you have done what you set as task
be sure when editing to not break the existing functionality of the code or break the whole app