<!-- Footer -->
<footer class="footer text-white-50 py-4">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="nav justify-content-center justify-content-md-start">
            <a routerLink="/register" class="nav-link" aria-label="Create new account" title="Create new account">
              <i class="fa-solid fa-user-plus"></i> Register
            </a>
          </div>
        </div>
        <div class="col-md-4 text-center my-3 my-md-0">
          2025 &copy; Created by Dobri Dobrev
        </div>
        <div class="col-md-4">
          <div class="nav justify-content-center justify-content-md-end">
            <a routerLink="/terms" class="nav-link" aria-label="Read terms and conditions" title="Read terms and conditions">
              <i class="fa-solid fa-file-contract"></i> Terms
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
